@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;

}

body {
    max-width: 1280px;
}

header {
    background-color: #2B2A2B;
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    font-size: 14px;
    align-items: center;
    color: white;
    position: sticky;
}

.Logo1 {
    /* color: white; */
    display: flex;

    gap: 7.33px;
    align-items: center;


}

.Logo1 p {
    font-size: 23.46px;
}

.L1 {
    display: flex;
    font-size: 14px;
    gap: 32px;

}

.Contact {
    display: flex;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Contact button {
    background-color: grey;
    border-radius: 4px;
    border: none;
    padding: 12px 24px;
    margin-left: 16px;
    color: white;
}

.Contact img {
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

.Bag {
    width: 17.66px;
    height: 20px;
}

/* Final de estilos del header */

.ContNov {
    font-size: 24px;
    padding: 48px 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nov {
    font-size: 24px;
    color: #2A5B45;
    font-weight: 500;
}

.ContBag {
    display: flex;
    gap: 24px;
    padding: 40px;
    flex-wrap: wrap;
    

}

.CoRi {
    background-color: white;
    padding: 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border-color: #E3DED7;
    border: 1px solid #E3DED7;
    /* transition: background-color .5s;    */
}

.CoRi:hover {
    background-color: #E3DED7;

}

.Lu {
    font-size: 14px;
    font-weight: 600;
}

.Pri {
    font-size: 14px;
    font-weight: 400;
}

.CoRi :nth-child(2) {
    display: flex;
    gap: 12px;
    flex-direction: column;

}

.ContNov a {
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.Link {
    display: flex;
    gap: 19px;
    align-items: center;
}

.Link img {
    width: 18px;
    height: 8px;

}

.BuA {
    padding: 8px;
    border-radius: 4px;
    background-color: #2A5B45B2;
    color: white;
    border: none;
}


.CoRi:hover>.BuA {
    /* Aqui dice que cuando haga hover el CoRi, cambia el estilo de .BuA*/
    background-color: #2A5B45;
}
/* Final del contenedor novedades */




.ContImg {
    padding: 48px 147px 48px 147px;
    background-image: url(../assets/Cristal.png);
    background-repeat: no-repeat;
    background-size: 1280px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.TiCa {
    padding: 24px;
    color: white;
}

.ContCa {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.ca {
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 316px;
    text-align: center;
    justify-content: center;
}

.ca p {
    font-size: 14px;
}

.ca h3 {
    font-size: 18px;
}

/* Final del segundo contenedor de imagen (tarjetas de condiciones) */
.FoPri{
    background-color: #1F1815;
  
  }  
  .Log{
      display: flex;
      color: #FFFFFF;
      font-size: 23.46px;
      gap: 7.33px;
  }
  .CGen{
   padding: 28.61px 40px  37.73px  40px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   font-size: 14px;
   color: #FFFFFF
  }
  
  .DSec{
      display: grid;
      grid-template-columns: 1.1fr 1fr 0.2fr;
  }
  .DSec section{
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;
      
      
  }
  .SecFo{
      display: flex;
  
  }
  
  .SecFo div{
      background-color:#515051;
      padding:  12px 24px;
      display: flex;
      gap: 11px;
      border-radius: 4px;
      
      
  }
  
  .DSec section button {
      color:#FFFFFF ;
      background-color:transparent;
      border: none;
      text-align: start;
      
  }
  
  .SecFo div:first-of-type{
     
      display: flex;
      align-items: center;
      
      
     
      
  
  }
  .SecFo div:last-of-type{
      height: 48px;
      display: flex;
      align-items: center;
     
      
      
  
  }
  .SecFo div:first-of-type img {
      width: 21px;
      height: 21px;  
  }
  .SecFo div:last-of-type  img{
      width: 18px;
      height: 14px;    
  }
  
  .DG{
      display: flex;
      gap: 150px;
  }
  
  .FoPri footer{
      background-color: #2B2A2B;
      padding: 12px;
      display: flex;
      justify-content: center;
  }
  .FoPri footer p {
      color: white;
      font-size: 14px;
  }
  .FoPri footer button {
      border: none;
      background-color: transparent;
  }
  